html, body
{
    height: 100%; 
    margin: 0;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

    .img1{
        position: relative; 
        background-image: url("../img/Pokemon_fundo.jpg"); 
        height: 100%; 
        background-attachment: fixed; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }

    .caption{
        position: absolute; 
        left: 0; 
        top: 50%; 
        width: 100%; 
        text-align: center; 
    }

    .caption span.border{
        background-color: #f90202;/*define a cor de fundo do texto*/
        color: aliceblue;/*define a cor de texto*/
        padding: 20px; /*define o espaçamento entre a caixa e o texto*/
        font-size: 25px; /*define o tamanho da fonte*/
        letter-spacing: 10px;/*aumenta o espaçamento das letras*/
    }